.button {
    background-color: #777;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    max-width: 100px;
    cursor: pointer;
    
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #5a5a5a;
  }